* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	color: #121212;
	font-family: 'Fira Code', sans-serif;
	background-color: #ededed;
	margin: auto;
	max-width: 450px;
	font-size: 16px;
	overscroll-behavior: none;
}

#game-title {
	font-weight: 100;
	text-decoration: overline;
	margin: 0.5rem 0 3rem 0;
}

#game-comment {
	margin-top: 3rem;
}

#game-meta-header {
	display: flex;
	justify-content: space-between;
}

#game-meta-footer {
	display: flex;
	justify-content: space-between;
}

.dark-theme-emoji {
	height: 1em;
	width: 1em;
	float: right;
	cursor: pointer;
}

.game-meta-emoji {
	height: 1.25em;
	width: 1.25em;
}

#game-meta-header #game-best-score {
	width: 120px;
	display: inline-flex;
	justify-content: flex-start;
}

#game-meta-header #game-best-score .game-meta-emoji {
	margin-right: 0.5em;
}

#game-meta-header #god-mode-status .game-meta-emoji {
	cursor: pointer;
}

#game-meta-header #game-last-score .game-meta-emoji {
	margin-left: 0.5em;
}

#game-meta-header #game-last-score {
	width: 120px;
	display: inline-flex;
	justify-content: flex-end;
}

#game-meta-header .game-meta-emoji {
	vertical-align: text-top;
}

#game-meta-footer .game-meta-emoji {
	vertical-align: text-bottom;
}

.game-meta-emoji.grayscale-emoji {
	filter: grayscale(100%);
}

.game-comment-emoji {
	height: 1rem;
	width: 1rem;
	margin: 0 0 -0.2em 0;
}

#game-area {
	position: relative;
	clear: both;

	width: 450px;
	height: 450px;

	border: 2px solid #121212;
	border-radius: 4px;
}

#game-overlay {
	position: absolute;
	z-index: 1;
	width: 410px;
	height: 410px;
	top: 18px;
	left: 18px;
	opacity: 90%;
	border-radius: 2px;
	border: 1px solid #121212;
	background-color: #ededed;
	box-shadow: 1px 1px 20px 2px #999999;
}

#player {
	background-color: #ff0000;
	position: absolute;
	box-shadow: 1px 1px 20px 2px #999999;
	border-radius: 3px;
	border: 2px solid #990000;

	width: 40px;
	height: 40px;
	left: 205px;
	top: 205px;
}

.enemy {
	background-color: #0000ff;
	position: absolute;
	box-shadow: 1px 1px 20px 2px #999999;
	border-radius: 3px;
	border: 1px solid;

	opacity: 80%;
}

#enemy0 {
	width: 60px;
	height: 50px;
	left: 270px;
	top: 60px;
}

#enemy1 {
	width: 100px;
	height: 20px;
	left: 300px;
	top: 330px;
}

#enemy2 {
	width: 30px;
	height: 60px;
	left: 70px;
	top: 320px;
}

#enemy3 {
	width: 60px;
	height: 60px;
	left: 70px;
	top: 70px;
}

#game-title,
#game-comment {
	opacity: 60%;
}

#game-meta-header,
#game-meta-footer,
#game-area {
	opacity: 87%;
}

body.dark {
	color: #ededed;
	background-color: #121212;
}

body.dark #game-area {
	border: 2px solid #ededed;
	background-color: #121212;
}

body.dark #game-overlay {
	border: 1px solid #ededed;
	background-color: #121212;
	box-shadow: 1px 1px 20px 2px #444444;
}

body.dark #player {
	box-shadow: 1px 1px 20px 2px #444444;
}

body.dark .enemy {
	box-shadow: 1px 1px 20px 2px #444444;
}

.game-btn {
	padding: 6px;
	border-radius: 4px;
	background: blanchedalmond;
	color: black;
	text-transform: uppercase;
	font-family: 'Fira Code', sans-serif;
	font-weight: 700;
	width: 160px;
	margin: 8px 0px 2px 0px;
	border: 2px solid black;
}

.game-play-btn {
	background: skyblue;
}

.game-btn:hover:enabled,
.game-btn:focus:enabled {
	box-shadow: 0 0.5em 0.5em -0.4em #888888;
	transform: translateY(-0.25em);
	outline: none;
	border: 2px solid black;
}

.game-btn:active:enabled {
	box-shadow: 0 0.5em 0.5em -0.4em #888888;
	border: 2px solid black;
	transform: translateY(-0.125em);
}

.game-btn:disabled,
.game-btn[disabled] {
	border: 2px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

/* Smaller Game Area */
@media only screen and (max-width: 600px) {
	body {
		max-width: 350px;
		font-size: 14px;
	}

	#game-area {
		width: 350px;
		height: 350px;
	}

	#player {
		width: 31.11px;
		height: 31.11px;
		left: 159.44px;
		top: 159.44px;
		border: 2px solid #990000;
	}

	#enemy0 {
		width: 46.67px;
		height: 38.89px;
		left: 210px;
		top: 46.67px;
	}

	#enemy1 {
		width: 77.78px;
		height: 15.56px;
		left: 233.33px;
		top: 256.67px;
	}

	#enemy2 {
		width: 23.33px;
		height: 46.67px;
		left: 54.44px;
		top: 248.89px;
	}

	#enemy3 {
		width: 46.67px;
		height: 46.67px;
		left: 54.44px;
		top: 54.44px;
	}
}
